
@model TrashCollector.ViewModels.MonthlyBillingModel

<h2>Monthly Bill</h2>

<table class="table">
    <tr>
        <th>Pickup Day</th>
        <th>Pickup Cost</th>
    </tr>

    @foreach (var pickup in Model.Pickups)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => pickup.PickupDay.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => pickup.PickupCost)
        </td>
    </tr>
    }
    <tr>
        <td>Total:</td>
        <td>$@Model.TotalMonthlyBill</td>
    </tr>
</table>
<br />
<center><img src="~/Images/p&rl&a.jpg" /></center>