@model TrashCollector.Models.Pickup

<h2>Confirm Pickup</h2>

<h3>Your pickup for @Model.Customer.FirstName @Model.Customer.LastName has been confirmed!</h3>

<div>
    @Html.ActionLink("Back to pickup list", "Pickups", "Employees", new { PickupDayId = Model.PickupDayId }, null)
</div>
