@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center> <h1>Trash Collector</h1></center>
        <div>
            <br />
            <center><img src="~/Images/P&R.gif" /></center>
        </div>
</div>


